$fnt-sze-xs: 12px;
$fnt-sze-sm: 16px;
$fnt-sze-md: 20px;
$fnt-sze-lg: 24px;
$primary-color: rgb(162, 0, 0);

$grey-color: #f4f2f2;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');

* {
  transition: 0.2s;
}
.ltr {
  font-family: 'Montserrat', sans-serif;
}

.rtl {
  font-family: 'Cairo', sans-serif;
}

main {
  background-color: $grey-color;
  height: 100%;
}

.lp_container {
  max-width: 1150px;
}

.lp_grid {
  display: grid;
  grid-template-columns: 20vw auto;

  @media (max-width: 768px) {
    grid-template-columns: auto;
  }

  .main {
    grid-column-start: 2;
  }
}
.lp_category-list__item:nth-child(n) {
  cursor: pointer;
}
.grid-header {
  display: flex;

  .breedcrumb {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;

    li {
      &.current {
        p {
          color: #6f0000;
          font-weight: bold;
        }
      }

      &:not(:last-child) {
        p {
          &:after {
            content: '>';
            margin-inline-start: 10px;
          }
        }
      }

      p {
        cursor: pointer;
        margin: 0;
        padding: 0;
        font-size: 16px;
      }
    }
  }
}

.sidebar {
  position: fixed;
  width: 20vw;
  z-index: 3;

  @media (max-width: 768px) {
    display: none;
  }

  .lp_category-list {
    list-style: none;
    position: relative;

    &__mega-menue {
      display: none;
      position: absolute;
      left: 100%;
      top: 0;
      background-color: white;
      min-height: 400px;
      min-width: 300px;
      padding: 5px;
      list-style: none;

      li {
        height: 38px;
        display: flex;
        align-items: center;
      }
    }

    &__item {
      p {
        margin: 0;
        font-size: $fnt-sze-md;
        height: 48px;
        display: flex;
        align-items: center;
        padding: 5px;
        font-weight: 500;
      }

      &:hover {
        .lp_category-list__mega-menue {
          display: block;
        }

        background-color: $grey-color;
      }
    }
  }
}

.lp-card {
  max-width: 350px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 5px 0px rgb(213, 214, 203);
  margin: 0 auto;
  margin-bottom: 20px;

  .card-body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;

    &:hover {
      .more-actions {
        display: block;
      }
    }

    .more-actions {
      display: none;
      position: absolute;
      bottom: 25px;
      width: 50px;
      height: 100px;
      z-index: 10000;
      right: 10px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          background-color: white;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;

          svg {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #200122;
    }

    .swiper-horizontal > .swiper-pagination-progressbar,
    .swiper-pagination-progressbar.swiper-pagination-horizontal {
      top: unset;
      bottom: 0;
    }

    .swiper-pagination-progressbar-fill {
      background: linear-gradient(to right, #200122, #6f0000);
    }
  }

  .close-btn {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .variants-switcher {
    width: 80%;
    display: flex;
    align-items: center;

    .swiper {
      min-width: 100%;
      width: 100%;
    }

    .swiper-wrapper {
      min-width: 100%;
    }

    .variant-button {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 100%;

      &.active {
        border: 2px solid #200122;
      }
    }
  }

  .card-footer,
  .card-header {
    background-color: white;
    border: 0px;
  }

  .card-header {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px 10px 0px 0px;
  }

  .card-footer {
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    min-height: 80px;

    .product-details {
      display: flex;
    }

    .product-variants {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: end;

      .eva {
        &.show {
          display: flex;
        }

        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 10;
        left: 0;
      }

      .btn-expander {
        background-color: rgba(255, 255, 255, 0.5);
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          color: $primary-color;
          font-size: $fnt-sze-sm;
          font-weight: 700;
        }
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;

        li {
          position: relative;
          overflow: hidden;
          border-radius: 100%;
          height: 40px;
          width: 40px;
          margin-right: 5px;

          &.active {
            border: 2px solid #200122;
          }
        }
      }
    }

    .price-details {
      flex: 1;

      span {
        display: block;
      }

      .bfr-dscnt {
        font-size: $fnt-sze-xs;
        font-weight: 400;
        text-decoration: line-through;
      }

      .price {
        color: $primary-color;
        font-size: $fnt-sze-sm;
        font-weight: 500;
      }

      .prdct-name {
        font-size: $fnt-sze-xs;
        font-weight: 400;
      }
    }
  }
}

.lp_badge {
  font-size: 10px;
  background-color: white;
  font-weight: 700;
  border: 1px solid #200122;
  border-radius: 5px;
  padding: 5px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

@import './navbar.scss';
@import './product-page.scss';
@import './cart.scss';
@import './error.scss';

body {
  background-color: #010314;
}

.main-color {
  color: #e9e9e9;
  background-image: radial-gradient(circle, #e9e9e9 0%, #ffffff 0%, #e9e9e9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: #e9e9e9;
  -webkit-text-fill-color: transparent;
}

.secondary-color {
  color: #578df5;
}

.main-h1 {
  font-weight: 700;
  font-size: 48px;
}

.secondary-h1 {
  font-weight: 700;
  font-size: 36px;
}

@import '_hero.scss';

.sub-section {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;

  p {
    margin: 0;
    color: white;
  }
}

.diveDeeperModule {
  padding-top: 90px;
  padding-bottom: 90px;

  .content-side {
    h4 {
      width: 100%;
    }
  }
}

.letGetCloserModule {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url('/images/let_get_closer_bg.png');
  background-size: cover;

  .content-side {
    h4 {
      width: 100%;
    }
  }

  .desc-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@import '_news.scss';
@import '_clients.scss';
@import '_partners.scss';
@import '_methdology.scss';
@import '_products.scss';
@import '_sureStep.scss';

.site-p {
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding-bottom: 30px;
}

@import '_services.scss';
@import '_goals.scss';

.innerPageHeadModule {
  height: 280px;
  min-height: 280px;
  max-height: 280px;
  width: 100%;
  margin-bottom: 90px;

  background-image: url('/images/inner_page_head_bg.png');
  background-size: cover;
  position: relative;
  z-index: 0;

  &:before {
    content: '';
    display: block;
    height: 280px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 2, 17, 1);
    opacity: 0.8;
    z-index: -1;
  }

  .content-section {
    height: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;

    h1 {
      color: white;
      font-weight: 700;
    }

    .breedCrumb {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          text-decoration: underline;
          text-decoration-color: white;

          &::after {
            content: '>';
            display: block;
            position: absolute;
            right: -50%;
            top: 0;
            color: white;
          }
        }
      }

      a,
      span {
        color: white;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}

.footerModule {
  padding-top: 90px;

  .footerLogo {
    margin-bottom: 25px;
  }

  .footerDesc {
    p {
      width: 70%;

      color: white;
    }
  }

  .menu-item {
    .menueLabel {
      color: white;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 15px;

      a,
      span {
        color: rgba(87, 141, 245, 1);
        text-decoration: none;
      }
    }

    .menuList {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 10px;
      }

      a,
      span {
        text-decoration: none;
        color: white;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .socialMediaIcons {
    display: flex;
    gap: 20px;
  }

  .footer-rights {
    display: flex;
    margin-top: 20px;
    align-items: center;
    height: 48px;
    justify-content: center;
    color: white;
  }
}

.contactBox {
  width: 23.5%;
  height: 300px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;

  @media screen and (max-width: 1000px) {
    width: 48% !important;
    margin-bottom: 20px;
  }

  > div {
    width: 100%;
  }

  .title {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 40px;
    padding: 20px;

    span {
      font-weight: 700;
      font-size: 20px;
      transform: uppercase;
      color: white;
    }
  }

  .desc {
    height: 40%;
    padding: 20px;
    .desc-content {
      span,
      a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        display: block;
        color: #578df5;
      }
    }
  }
}

.contactUsMapModule {
  padding-top: 90px;
  padding-bottom: 90px;

  .content-side {
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      width: 50%;
      font-size: 48px;
      text-align: center;

      @media screen and (max-width: 500px) {
        font-size: 28px;
      }
    }
  }

  .desc-side {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sendUsMessageModule {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
  flex-wrap: nowrap;

  &:after {
    content: '';
    height: 50px;
    width: 100%;
    position: absolute;
    background: linear-gradient(180deg, #06031d -18.85%, #0a0222 -18.84%, #010314 100%);
    bottom: 0;
    left: 0;
  }

  .sendUsMessageBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: red;
    top: 0;
    left: 0;
    background-image: url('/images/service_section_img.jpg');
    z-index: -1;
    opacity: 0.1;
    background-position: center;
    background-size: cover;
  }

  .headContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    z-index: 1;

    h4 {
      text-align: start !important;
      font-size: 39px;
    }

    p {
      text-align: start !important;
    }
  }

  .message-content {
    padding-inline: 100px;

    @media screen and (max-width: 500px) {
      padding-inline: 0px;
    }

    textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      background-color: #06031d;
      color: white;
      border: 1px solid white;
      border-radius: 0px;
      height: 300px;
    }

    input[type='text'] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      background-color: #06031d;
      color: white;
      border: 1px solid white;
      border-radius: 0px;
    }
  }
}

.btn-main-block {
  width: 100%;
  background-color: transparent;
  border-color: white;
}
// Edit
.btn-outline {
  box-shadow: 0px 4px 10px 2px #578df5;
}

.btn-outline .btn-hover {
  min-width: 20px;
}
.btn_parent {
  position: absolute;
}

.methdologyModule .methMapContainer .methmap_item .meth_card .icon::before {
  content: '';
  display: block;
  position: absolute;
  height: 5px;
  width: 87px;
  top: 57%;
  left: 53%;
  border-bottom: 1px solid white;
  transform-origin: top left;
  transform: rotate(0deg);
  z-index: -1;
  rotate: 90deg;
}
.methdologyModule
  .methMapContainer
  .methmap_item
  .meth_card
  .number
  .number-circle.with_right_border::before {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 7rem;
  top: 50%;
  left: 122%;
  border-bottom: 1px solid white;
  transform-origin: top left;
  transform: rotate(0deg);
  z-index: -1;
}

.headContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#formBtn {
  width: 170px;
  background: #578df5;
  border: none;
  height: 50.1px;
  border: none;
  box-shadow: 0 0 0 0 transparent;
  font-weight: bold;
  margin-top: 20px;
}
.sendUsMessageModule .headContent h4 {
  width: 100%;
  text-align: center;
  font-size: 47px;
}
.sendUsMessageModule .headContent p {
  width: 113%;
  text-align: center;
}
@media (max-width: 600px) {
  .sendUsMessageModule {
    flex-wrap: wrap;
  }
  .sendUsMessageModule .headContent p {
    width: 80%;
    text-align: center;
  }
  .diveDeeperModule {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.btn_parent {
  position: absolute;
}

// secound Nav Bar
// .secondary-nav {
//   display: none;
// }

// Answar.tsx Style
.AnswarParent {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 0 20px; /* Added padding for better spacing on smaller screens */
}

.AnswarParent .title {
  height: auto; /* Adjusted to auto for better flexibility */
  width: 100%; /* Adjusted to full width for responsiveness */
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerAnswars {
  display: flex;
  flex-direction: column; /* Adjusted for better stacking on small screens */
}

.fingertips {
  text-align: center;
  font-size: 30px; /* Adjusted base font size */
  font-weight: 400;
}

.titleAnswar {
  display: flex;
  flex-direction: column;
  min-height: 40px;
  width: 100%; /* Adjusted to full width for responsiveness */
  border: none;
  border-bottom: 1px solid white;
  margin-top: 20px; /* Adjusted margin for better spacing */
}

.Q_A {
  height: auto; /* Adjusted to auto for better flexibility */
  width: 100%; /* Adjusted to full width for responsiveness */
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr; /* Adjusted for even distribution */
  gap: 20px; /* Added gap for spacing between items */
}

@media (max-width: 425px) {
  .Q_A {
    grid-template-columns: 1fr; /* Stacked layout for smaller screens */
  }
  .fingertips {
    font-size: 24px; /* Adjusted font size for smaller screens */
    text-align: center;
  }
  .titleAnswar {
    margin-top: 40px; /* Adjusted margin for smaller screens */
  }
}

.image-map {
  width: 100% !important;
  height: 100% !important;
}

.map-marker-wrapper {
  position: absolute;
  top: 48%;
  left: 52%;
  background: transparent !important;
  width: fit-content !important;
  border: none;
}
.first-map-marker {
  position: absolute;
  top: 48%;
  left: 56%;
}

.second-map-marker {
  position: absolute;
  top: 49%;
  left: 62%;
}

.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-inner {
  background-color: #1d4ed8;
  height: 1rem;
  width: 1rem;
  @media screen and (max-width: 800px) {
    height: 0.4rem;
    width: 0.4rem;
  }
}

.circle-center {
  background: #1d4ed880;
  height: 1.4rem;
  width: 1.4rem;
  @media screen and (max-width: 800px) {
    height: 0.6rem;
    width: 0.6rem;
  }
}

.circle-outer {
  background: #1d4ed840;
  height: 2rem;
  width: 2rem;
  @media screen and (max-width: 800px) {
    height: 1rem;
    width: 1rem;
  }
}

.first-marker-tooltip {
  background: #1d4ed8 !important;
  opacity: 1 !important;
  border-radius: 0 !important;
  padding: 1rem !important;
  h4 {
    font-size: 1rem !important;
    font-weight: 600 !important;
  }
  span {
    opacity: 50% !important;
  }
}

.second-marker-tooltip {
  background: #fff !important;
  opacity: 1 !important;
  border-radius: 0.6rem !important;
  padding: 1rem !important;
  img {
    width: 2rem !important;
  }
  h4 {
    font-size: 1rem !important;
    font-weight: 600 !important;
    color: #010314;
  }
  span {
    color: #010314;
    font-weight: 500 !important;
  }
}

.boxes-wrapper {
  display: flex;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .contactBox {
    width: 49% !important;
    margin-bottom: 18px;
    position: relative;
  }
  .contactBox:nth-child(n) {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .contactBox .desc .desc-content span,
  .contactBox .desc .desc-content a {
    text-decoration: none;
    font-size: 12px !important;
    font-weight: 400 !important;
    display: block !important;
    color: #578df5 !important;
    width: 102px !important;
  }
}

.blog_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
}

////////////////////////////
///
///

.hero-animation {
  background-image: url(../public/images/heroBG.jpeg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: 100vw;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  animation: changeBackgroundSize 2s forwards 2s, moveHeroAnimation 3s forwards 4s;
  -webkit-animation: changeBackgroundSize 2s forwards 2s, moveHeroAnimation 3s forwards 4s;
  border: none;
  position: fixed;
}
@media (max-width: 768px) {
  .hero-animation {
    position: absolute;
    top: 0;
    background-size: cover;
    animation: changeBackgroundSizeMobile 2s forwards 2s, moveHeroAnimation 3s forwards 4s;
    -webkit-animation: changeBackgroundSizeMobile 2s forwards 2s, moveHeroAnimation 3s forwards 4s;
    height: 95vh;
  }
}

.text-animation {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  animation: showTitle 2s forwards;
  -webkit-animation: showTitle 2s forwards;
  animation-delay: 2s;
}

.text-animation p:first-child {
  font-weight: 600;
  font-size: 0.7rem;
}

.text-animation p:last-child {
  font-weight: 800;
  font-size: 2rem;
}

.header-animation {
  animation: headerAnimation 2s forwards;
  -webkit-animation: headerAnimation 2s forwards;
  animation-delay: 2s;
}

/* animation */

@keyframes showTitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes changeBackgroundSize {
  from {
    background-size: 200vw;
  }

  to {
    background-size: 100vw;
  }
}
